[submodule "external_library/progressbar"]
	path = external_library/progressbar
	url = https://github.com/gipert/progressbar.git
	
[submodule "external_library/libfort"]
	path = external_library/libfort
	url = https://github.com/seleznevae/libfort.git
[submodule "external_library/ThreadPool"]
	path = external_library/ThreadPool
	url = https://github.com/mjshakir/ThreadPool.git
[submodule "external_library/ProgressBar"]
	path = external_library/ProgressBar
	url = https://github.com/mjshakir/ProgressBar.git
[submodule "external_library/TimeIt"]
	path = external_library/TimeIt
	url = https://github.com/mjshakir/TimeIt.git
